.App {
  text-align: center;
}

.display-image {
  columns: 5 400px;
  column-gap: 10px;
}

input {
  margin-bottom: 20px;
  height: 40px;
  width: auto;
  border: 2px solid rgb(134, 133, 133);
  border-radius: 25px;
  text-align: center;
}

img {
  width: 100%;
  margin-bottom: 10px;
}
